.nav-bar {
    padding: 1rem;
    background: linear-gradient(to bottom, #5506516b, #7d037d67); 
    max-width: 100vw;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .home{
    background-color: rgba(57, 56, 56, 0.284);
  }
  span{
    font-size: x-large;
  }
  /* Estilos del contenido principal */
  main {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  #inicio{
    margin-bottom: 2rem;
  }
  #servico{
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    grid-template-columns: 1fr 1fr ;
  }
  .card {
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* Ocupa el espacio disponible de manera equitativa */
    max-width: 100%;  /* Ajusta según la cantidad de tarjetas por fila */
    text-align: center;
    height: 21rem;
  }
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 7px;
  }
  /* Estilos específicos para los servicios y el contacto */
  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  h3{
    font-size: 1.5rem;
    margin: 5px 0;
  }
  /* Estilos para los enlaces de contacto */
  p {
    margin-top: 2rem;
  }
  .card p {
    font-size: 1.2rem;
  }
  p a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
  }
  
  #contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .contato{
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  
  .contato:hover {
    background-color: #ff00ff63;
  }
  a.contato{
    margin-top: 1rem;
  }
  /* Estilos responsivos para teléfonos móviles */
  @media (max-width: 600px) {
    main {
      padding: 1rem;
      width: 90%;
    }
    #servico{
      max-width: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      grid-template-columns: 1fr ;
    } 
    #contato{
      display: flex;
      flex-direction:column;
      align-items:center;
      justify-content: center; 
margin-top: 1rem;
  
    }
    @media (max-width: 400px) {
      main {
        padding: 0.5rem;
        width: 90%;
      }
      #servico{
        max-width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        grid-template-columns: 1fr;
margin-bottom: 1rem;
      } 
      #contato{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
margin-top: 2rem;
    
      }
     
    }
  }
  